@import "tailwindcss";
@variant dark (&:where([data-theme="dark"],[data-theme="dark"] *));

:root{
    --background-color : #c4ffffa3;
    --text-color : black;
}

[data-theme="dark"]{
    --background-color : rgb(17 0 31);
    --text-color : rgba(254, 254, 254, 0.918);
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
}